$color-primary:  #fff;


nav {
    position: fixed;
    width: 100%;
    z-index: 5000;
    height: auto;
    padding: 0px;
    
  }
  
  body {
    background-image: $color-primary;
    
    display: flex;
   
  }
  .main {
    margin: auto !important;
    width: 100%;
 
  }
  
  h1 {
    
      letter-spacing: 5px;
      color: $color-primary;
      text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #5271ff,
          0 0 82px #5271ff,
          0 0 92px #5271ff,
          0 0 102px #5271ff,
          0 0 151px #5271ff;
  }
  
  #profileMenu {
      display: none;
      padding: 0px;
   
  }
  
  .aProfile:hover {
      color: blue;
      box-shadow: 0 0 5px gray;
      text-shadow: 0 0 1px gray;
      border-radius: 5px;
  }
  
  #mobile-menu {
    position: fixed;
    background-color: #1f2937;
    width: 100%;
    top: -500px;
    /* top: 50px; */
  }
  
    @media only screen and (min-width: 639px) {
      #mobile-menu {
        display: none;
        
      }

 
    }



    @media only screen and (max-width: 450px) {
      .star {
        font-size: 12px;
      }

      .container-card {
        width: 250px;
      }
    }
  
  .container-card {
    max-width: 400px;
    
    display: flex;
    justify-content: space-between;
    padding: 1px;
    padding-bottom: 10px;
    margin: auto;

    .img-container {
        margin-top: 20px;
    }
   
  }

   
  .column1-card {
    width: 35%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    
    padding-bottom: 20px;
  }
  
  .column1-card img {
    width: 100px;
    height: 100px;
  }
  
  .category_container {
    width: 100%;
  }
  
  .column2-card {
    width: 50%;
    padding: 5px;
  
  }
  
  .column2-card a {
  
    margin: 10px;
    padding: 0 20px;
    cursor: pointer;
  }
  
  .grid-books {
    width: 95% !important;
    margin: auto;
    
  }
  
  .download-big_card {
    width: 100%;
  
    display: flex;
    justify-content: center;
    
  }
  
  .download-big_card a{
    width: 100%;
  }


  .star {
  font-size: 12px;
  }

  .form-search_lg {
    width: 10px !important;
    display: flex;
  
    margin-left: 10px;
    select {
      border: none;
      box-sizing: border-box;
      border-radius: .5rem 0 0 .5rem;
      
      cursor: pointer;
      background-color: rgb(230 230 244);
      padding-left: 2px;
      
      font-size: 10px;

      &:focus {
        outline: none !important;
        border: none;
      }
    }
    .input-search_lg {
     box-sizing: border-box;
     border: none;
     width: 135px;
     font-size: 15px;
     font-weight: 500;
     letter-spacing: 0.5px;
     &:hover, &:focus  {
     filter: contrast(100%);
     box-shadow: 0px 0px 15px 0px grey;
     background-size: 150%;
     outline: none;
    }
    }

    .button-search_lg {
      background-color: rgba(143, 174, 214, 0.514);
      //border-radius: .5rem 0 0 .5rem;
      border-radius: 0 .5rem .5rem 0;
      padding: 10px;
      i {
        color: #fff;
        
      }  
    }




  }

  @media only screen and (max-width: 1000px) {
   
    .form-search_lg {
      display: none;
    }

  }

  
   
  
  
  
  
  
  